/*Ini file css*/

/*Ini file css*/

body{
    font-family: 'Times New Roman', Times, serif;
}

main{
    max-width: 750px;
    justify-self: center;

    /*Background Matter*/
    background: rgb(238,174,202);
    background: linear-gradient(90deg, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
    border-radius: 8px;
}

.main-header{
    text-align: center;
}

section{
    padding: 8px;
}

.input-group {
    display: flex;
    flex-direction: column;
}

input {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 3px solid #ccc;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
}

input[type=number]:focus {
    border: 3px solid #555
}

.button-group {
    margin-top: 16px
}

button {
    border: none;
    padding: 8px;
    border-radius: 4px;

}

.bg-purple {
    background: rgb(131,58,180);
    background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
}

.bg-blue {
    background: rgb(63,94,251);
    background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%);
}

.bg-gray {
    background: rgb(34,193,195);
    background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%);
}

.remark{
    font-weight: bold;
    font-size: x-large;
}

footer{
    text-align: center;
}